.MuiAppBar-colorPrimary-18{
    background: linear-gradient(to right,#667db6,#0082c8,#0082c8,#667db6)!important
}
.header-toolbar {
    justify-content: space-between;
    flex-direction: row;
}
.header-user {
    padding-right: 5px;
}